.forecast {
  margin: 0 auto;
}

.forecast-title {
  text-align: center;
  color: #fff;
  background-color: #463e3efa;
  border-radius: 6px;
  border: 1px solid #000;
  padding: 5px 0;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.day-forecast {
  background-color: #463e3efa;
  border: 1px solid #000;
  color: #fff;
  padding: 0 20px 20px 20px;
  border-radius: 6px;
}

.hour-forecast {
  border: 1px solid #000;
  padding: 0 20px 20px 20px;
  margin: 10px 0;
}

.forecast-icon {
  width: 50px;
}

.top-forecast,
.bottom-forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-forecast {
  align-items: flex-end;
}

.temp-forecast {
  font-size: 30px;
}

.description-forecast {
  width: 50%;
  text-align: end;
}
